*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color1: #212121;
  --color2: #fcc4fc;
  --color3: #ffadad;
  --color4: #bdb2ff;
  --color5: #ffffff;

  /*SOURCE : https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/*/
  --grid-layout-gap: 10px;
  --grid-column-count: 1; /* This gets overridden by an inline style. */
  --grid-item--min-width: 150px; /* This gets overridden by an inline style. */
  /* Calculated values */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  /**********************************************************************/
}

/** SHORTCUT **/
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  background-color: var(--color5);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: clamp(2rem, 10vw, 4rem) !important;
}
h2 {
  font-size: clamp(1.5rem, 7vw, 3rem);
}
h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}
p,
a {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/** GLOBAL **/

.button-link {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--color3);
  color: var(--color5);
  border-radius: 1rem;
}

h2.bottom-line {
  font-weight: bold;
  margin: 25px 0;
  position: relative;
}

h2.bottom-line::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.1rem;
  background-color: var(--color2);
  bottom: -0.5rem;
}

.inner {
  width: 95%;
  margin: 0 auto;
}

/** HEADER **/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: rgba(255, 173, 173, 0);
  opacity: 1;
  z-index: 9999;
  color: var(--color1);
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

header.scrolled {
  background-color: rgba(255, 173, 173, 1);
}

header.scrolled .navToggle svg,
header.scrolled .navMenu svg {
  fill: var(--color5);
}

header.toggleNav {
  transition: none;
}

/* NAVIGATION */
nav {
  width: 100%;
  position: relative;
}

nav .navCheckBox {
  display: none;
}

nav .navToggle {
  position: absolute;
  cursor: pointer;
  right: 0;
}
nav .navToggle svg {
  width: 1.5rem;
  fill: var(--color4);
}
nav .navToggle .close {
  display: none;
}
nav .navToggle .menu {
  margin-top: 0.2rem;
}
nav .navMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
nav .navMenu li {
  list-style: none;
  display: none;
}
nav .navMenu li:first-child {
  margin-right: auto;
  display: block;
}
nav .navMenu a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}
nav .navMenu svg {
  width: 1.5rem;
  fill: var(--color4);
}

.toggleNav {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: var(--color3);
  position: fixed;
  top: 0;
  left: 0;
}

.toggleNav nav svg {
  fill: var(--color5);
}

.toggleNav ul.navMenu li {
  display: block;
  color: var(--color5);
}

.toggleNav label.navToggle .close {
  display: block;
}

.toggleNav label.navToggle .menu {
  display: none;
}

/* BLOCK MAIN */

.block-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-main .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.block-main .container-paragraphe {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin: 15px;
  color: var(--color1);
}

.block-main .container-paragraphe p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
}

.block-main .container-paragraphe .container-typing {
  display: flex;
}

.block-main .container-paragraphe .container-typing p {
  font-size: 2.6rem;
}

.block-main .container-paragraphe .container-typing .typing-animation {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 1px var(--color4);
  border-radius: 25px;
  bottom: 5%;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--color4);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* BLOCK PROFILE */
.block-profile {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 25px 0;
  padding: 15px;
}

.block-profile .container-profile,
.container-profile .container-presentation {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.container-profile figure {
  line-height: 0;
  border: var(--color2) 5px solid;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.container-profile figure img {
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-profile figure:hover img {
  transform: scale(1.3) translateX(30px);
}

.container-profile .container-presentation h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-profile .container-presentation h3 span {
  color: var(--color2);
}

.container-profile .container-presentation ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.container-profile .container-presentation ul li {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.container-profile .container-presentation ul li a {
  text-decoration: none;
  color: var(--color4);
}

.container-profile .container-presentation ul li p:first-child {
  font-weight: bold;
}

/* TIMELINE */

.block-timeline {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 15px 0;
  background-color: #212121;
}

.block-timeline h2 {
  margin: 25px;
  color: var(--color5);
}

.container-timeline {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
}

.container-timeline .timeline-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 10vh;
  color: #fff;
  overflow: hidden;
  transition: height 0.5s ease;
}

.container-timeline .timeline-item:hover {
  height: 50vh !important;
}

.container-timeline .timeline-item:before,
.container-timeline .timeline-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-timeline .timeline-item:after {
  background: var(--color1);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.container-timeline .timeline-item:before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--color2) 85%
  );
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.container-timeline .timeline-item:hover:after {
  opacity: 0;
}

.container-timeline .timeline-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.container-timeline .timeline-item:hover .timeline-bg {
  filter: grayscale(0);
}

.container-timeline .timeline-item .timeline-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}

.container-timeline .timeline-item:hover .timeline-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}

.container-timeline .timeline-item .timeline-year {
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 15px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-timeline .timeline-item .timeline-year:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 0.095rem;
  background: var(--color5);
}

.container-timeline .timeline-item .timeline-year img {
  transition: transform 0.5s ease;
}

.container-timeline .timeline-item:hover .timeline-year img {
  transform: rotate(180deg);
}

.container-timeline .timeline-item .timeline-content h3 {
  text-transform: uppercase;
  color: var(--color5);
  font-size: 1.44rem;
  font-weight: normal;
}

.container-timeline .timeline-item .timeline-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.container-timeline .timeline-item:nth-child(even) .timeline-bg {
  background-color: var(--color3);
}

.container-timeline .timeline-item:nth-child(odd) .timeline-bg {
  background-color: var(--color4);
}

/* FOOTER */
footer {
  height: 10%;
  background-color: var(--color3);
  color: var(--color5);
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

@media only screen and (min-width: 620px) {
  :root {
    --grid-item--min-width: 250px;
    --grid-column-count: 2;
  }
  .inner {
    width: 85%;
    margin: 0 auto;
  }

  /* HEADER / NAVIGATION */
  header {
    color: var(--color4);
  }
  header.scrolled {
    color: var(--color5);
  }
  nav .navToggle {
    display: none;
  }
  nav .navMenu {
    flex-direction: row;
  }
  nav .navMenu li {
    display: block;
  }
  /* MAIN */
  .block-main .container-paragraphe {
    align-items: flex-start;
  }

  /* PROFILE */
  .block-profile .container-profile {
    flex-direction: row;
  }
  .block-profile .container-profile,
  .container-profile .container-presentation {
    align-items: flex-start;
  }
  .container-profile figure {
    width: 50%;
  }
  .container-profile .container-presentation {
    width: 50%;
  }

  /* FOOTER */
  footer {
    flex-direction: row;
    padding: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  :root {
    --grid-column-count: 3;
  }
  /* PROFILE */
  .container-profile figure {
    width: 25%;
  }
  .container-profile .container-presentation {
    width: 75%;
  }
}
